<header class="bg-white shadow fixed top-0 w-full">
        <nav class="container mx-auto px-6 py-3">
            <div class="flex justify-between items-center">
                <a href="#" class="text-2xl font-bold text-gray-800">Research Assistant</a>
                <div class="flex space-x-4">
                    <a [routerLink]="['/documents']" routerLinkActive="router-link-active"  class="text-gray-800">Home</a>
                    <a [routerLink]="['/documents']" class="text-gray-800">About</a>
                    <a [routerLink]="['/documents']" class="text-gray-800">Documents</a>
                    <a [routerLink]="['/documents']" class="text-gray-800">Research</a>
                    <a [routerLink]="['/documents']" class="text-gray-800">Contact</a>
                </div>
            </div>
        </nav>
    </header>